import { useState } from "react";

function RadioExample() {
const [selectedOption, setSelectedOption] = useState<string>("flexRadioDefault2");

  return (
  <>
    <div className="form-check">
      <input className="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
        value="flexRadioDefault1" checked={selectedOption==="flexRadioDefault1" } onChange={(e)=>
      setSelectedOption(e.target.value)}
      />
      <label className="form-check-label" htmlFor="flexRadioDefault1">
        Default radio
      </label>
    </div>

    <div className="form-check">
      <input className="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
        value="flexRadioDefault2" checked={selectedOption==="flexRadioDefault2" } onChange={(e)=>
      setSelectedOption(e.target.value)}
      />
      <label className="form-check-label" htmlFor="flexRadioDefault2">
        Default checked radio
      </label>
    </div>
  </>
  );
  }

  export default RadioExample;