.sidebar {
  width: 260px;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
  position: fixed;
  z-index: 1030;
}

.sidebar.collapsed {
  width: 0;
  overflow: hidden;
}

@media (max-width: 1199.98px) {
  .sidebar {
    position: absolute;
    height: 100%;
    background-color: white;
    border-right: 1px solid #ddd;
  }
}
