#sidebar {
  width: 280px;
  height: 100vh;
  background: linear-gradient(135deg, #0c0b0c 0%, #000001 100%);
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
}
#close-btn{
     position: absolute;
     left: 248px;
     top: 2px;
}

.link-navbar:hover {
  color: burlywood !important;
}

@media screen and (max-width: 769px) {
  #sidebar {
    left: -280px;
  }
  #sidebar-toggle:checked ~ #sidebar{
     left: 0;
  }
}
